
body {font-family: Arial;}
h1 {
    background-color: #bb9cd5;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: left;
    text-decoration: none;
    font-size: 32px;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #1cb41c;
}

/* Style the tab content */
.tabcontent {
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.btn-group .button {
    background-color: #f1f1f1;
    border: 1px solid black;
    color: black;
    padding: 15px 32px;
    text-align: left;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    width: 150px;
    display: block;
    }
    
.btn-group .button:not(:last-child) {
    border-bottom: none;
}

.btn-group .button-clicked {
    background-color: #1cb41c;
}
